---
layout: default
title: Products
main_nav: products
---
<div class="image-hero products">
  <div class="overlay-pattern">
    <div class="container">
      <div class="jumbotron">
        <h1 class="alt">Products</h1>
        <p>
          Devshard specialists work with our clients to bring top quality products to the end consumer. From cosmetics and household packaging to bar products, lighting and electronics casing - if it's made from plastic, we can do it!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container products-gallery">
  
  <h3 class="alt">PRODUCTS</h3>
  <p class="lead">These are various end products we developed the moulds for. Some of the products, like the bar shaker, were both designed and manufactured at Devshard</p>
  <div class="lightbox">
    {% for i in (1..19) %}
      <a class="thumbnail" href="/images/new/1520x1520_{{ i }}.jpg">
        <img src="/images/new/320x320_{{ i }}.jpg" alt="">
      </a>
    {% endfor %}
  </div>
  
  <h3 class="alt">PLASTIC BOTTLE PREFORMS HEATER</h3>
  <p class="lead">The preforms are extruded prior to loading on this machine. They are then formed into lampshades using air blowing.</p>
  <div class="lightbox">
    {% for i in (1..10) %}
      <a class="thumbnail" href="/images/preforms-heater/1520x1520_{{ i }}.jpg">
        <img src="/images/preforms-heater/320x320_{{ i }}.jpg" alt="">
      </a>
    {% endfor %}
  </div>
  
  <h3 class="alt">LAMPSHADE MOULD AND SAMPLES</h3>
  <p class="lead">The lampshade mould accepts a heated preform. The machine then expands the preform into this mould. The finished product is a ready to use lampshade.</p>
  <div class="lightbox">
    {% for i in (1..10) %}
      <a class="thumbnail" href="/images/lampshade/1520x1520_{{ i }}.jpg">
        <img src="/images/lampshade/320x320_{{ i }}.jpg" alt="">
      </a>
    {% endfor %}
  </div>
  
  <h3 class="alt">SELECTION OF PLASTIC BOTTLES AND CONTAINERS</h3>
  <p class="lead">Some of the products manufactured using Devshard-built moulds. The designs of some of the products are also done by us</p>
  <div class="lightbox">
    {% for i in (1..10) %}
      <a class="thumbnail" href="/images/bottles/1520x1520_{{ i }}.jpg">
        <img src="/images/bottles/320x320_{{ i }}.jpg" alt="">
      </a>
    {% endfor %}
  </div>
</div>
